<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Colorization</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
    img {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;	
    }
    body {
    	margin-top:40px;
    	margin-bottom:40px;
    }
    #origin{
        filter: grayscale(100%);
        filter: gray;
    }
  </style>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					Colorize Your Picture!
				</h1>
				<p>
					<a class="btn" href='/' style="font-size:20px">Upload other pictures »</a>
				</p>
		</div>
	</div>
	<div class="row clearfix" align="center">
        <div class="col-md-4 column">
            <h2>
                Origin
            </h2>
            <div id="origin"><img src='/static/loading.gif'></div>
        </div>
        <div class="col-md-4 column">
            <h2>
                CNN(Euclidean loss)
            </h2>
            <div id="model1"><img src='/static/loading.gif'></div>
        </div>
        <div class="col-md-4 column">
            <h2>
                GAN
            </h2>
            <div id="model2"><img src='/static/loading.gif' ></div>
        </div>
    </div>
    <div class="row clearfix" align="center">
        <div class="col-md-4 column">
            <h2>
                Model3
            </h2>
            <div id="model3"><img src='/static/loading.gif' ></div>
        </div>
        <div class="col-md-4 column">
            <h2>
                CNN(Classifier)
            </h2>
            <div id="model4"><img src='/static/loading.gif' ></div>
        </div>
        <div class="col-md-4 column">
            <h2>
                CNN(Classifier+rebalance)
            </h2>
            <div id="model5"><img src='/static/loading.gif' ></div>
        </div>
    </div>
    <div class="row clearfix" align="center">
        <div class="col-md-4 column">
            <h2>
                JustForFun
            </h2>
            <div id="model6"><img src='/static/loading.gif' ></div>
        </div>
        <div class="col-md-4 column">
            <h2>
                KNN(for fun)
            </h2>
            <div id="model7"><img src='/static/loading.gif' ></div>
        </div>
        <div class="col-md-4 column">
            <h2>
                Lizuka
            </h2>
            <div id="model8"><img src='/static/loading.gif'></div>
        </div>
    </div>
</div>
</body>

<script>
  $("#origin").html("<img src='/uploads/{{filename}}' >");
  $.get("/make_picture/{{filename}}/1", function(result){
  $("#model1").html("<img src='/result/{{filename}}' >");
  $.get("/make_picture/{{filename}}/2", function(result){
  $("#model2").html("<img src='/result_gan/{{filename}}' >");
  $.get("/make_picture/{{filename}}/3", function(result){
  $("#model3").html("<img src='/result_v1/{{filename}}' >");
  $.get("/make_picture/{{filename}}/4", function(result){
  $("#model4").html("<img src='/result_v2/{{filename}}' >");
  $.get("/make_picture/{{filename}}/5", function(result){
  $("#model5").html("<img src='/result_v3/{{filename}}' >");
  $.get("/make_picture/{{filename}}/6", function(result){
  $("#model6").html("<img src='/fun/{{filename}}' >");
  $.get("/make_picture/{{filename}}/7", function(result){
  $("#model7").html("<img src='/knn/{{filename}}' >");  
  $.get("/make_picture/{{filename}}/8", function(result){
  $("#model8").html("<img src='/lizuka/{{filename}}' >");  
  });
  });
  });
  });
  });
  });
  });
  });
</script>
</html>