    <div class="row clearfix" align="center">
        <div class="col-md-4 column">
            <h2>
                Origin
            </h2>
            <img src={{name1}} width="220" height="220">
        </div>
        <div class="col-md-4 column">
            <h2>
                Model1
            </h2>
            <img src={{name2}} width="220" height="220">
        </div>
        <div class="col-md-4 column">
            <h2>
                Model2
            </h2>
            <img src={{name3}} width="220" height="220">
        </div>
    </div>
    <div class="row clearfix" align="center">
        <div class="col-md-4 column">
            <h2>
                Model3
            </h2>
            <img src={{name4}} width="220" height="220">
        </div>
        <div class="col-md-4 column">
            <h2>
                Model4
            </h2>
            <img src={{name5}} width="220" height="220">
        </div>
        <div class="col-md-4 column">
            <h2>
                Model5
            </h2>
            <img src={{name6}} width="220" height="220">
        </div>
    </div>